.container
  .new_label New Board
  %ul
    - @board.errors.full_messages.each do |message|
      %li= message
  = form_with(model: @board, local: true) do |f|
    .title_label
      = f.label :title, 'Name'
    %div
      = f.text_field :title, class: 'text'
    .content_label
      = f.label :content, 'Description'
    %div
      = f.text_area :content
    = f.submit 'Submit', class: 'btn-primary'
